body:after {
  content:
          url(../img/icons/dashboard_filled.svg)
          url(../img/icons/typography_filled.svg)
          url(../img/icons/tables_filled.svg)
          url(../img/icons/ui_elements_filled.svg);
  display: none;
}

