{{#extend "layout" title="Light Blue Bootstrap Dashboard - Maps Google"}}
{{#content "sidebar"}}
{{> sidebar active="maps_google"}}
{{/content}}
{{#content "content" mode="replace"}}
<h1 class="page-title">Template > UI Elements > <span class="fw-semi-bold">Google Maps</span></h1>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h5 class="fw-semi-bold">
                    Google Maps
                </h5>
            </header>
            <div class="widget-body maps widget-table-overlay">
                <div id="gmap" class="content-map"></div>
            </div>
        </section>
    </div>
</div>
{{/content}}
{{#content "scripts"}}
<script src="https://maps.google.com/maps/api/js?key=AIzaSyCzLGh9l7VfM67K_8wSxf4rkqoyo_3YXgY"></script>
<script src="../node_modules/gmaps/gmaps.js"></script>

<!-- page specific js -->
<script src="js/maps/gmap.js"></script>
{{/content}}
{{/extend}}